---
title: Explore UX
layout: page
permalink: /exploreux/
description: LEARN. SHARE. CONNECT.
---
<h2>This section will cover UX concepts & tools.</h2>

<h3>Browse the topics below:</h3>

div class="card card-nav-tabs card-plain">
  <div class="card-header card-header-danger">
      <!-- colors: "header-primary", "header-info", "header-success", "header-warning", "header-danger" -->
      <div class="nav-tabs-navigation">
          <div class="nav-tabs-wrapper">
              <ul class="nav nav-tabs" data-tabs="tabs">
                  <li class="nav-item">
                      <a class="nav-link active show" href="#alpha" data-toggle="tab">Sort alphabetically</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="#category" data-toggle="tab">Category</a>
                  </li>
              </ul>
          </div>
      </div>
  </div><div class="card-body ">
      <div class="tab-content text-center">
          <div class="tab-pane active show" id="alpha">
            {% for ux_resources in site.ux_resources %}
            {% if ux_resources.category == 'ux_basics' %}
            <h4>{{ ux_resources.title }}</h4>
            <p>{{ ux_resources.content | strip_html | truncatewords: 800, '...' }}</p>
            <a href="{{ ux_resources.source }}" target="_blank">Source</a>
            {% endif %}
            {% endfor %}

            {% for ux_resources in site.ux_resources %}
            {% if ux_resources.category == 'ux_design' %}
            <h4>{{ ux_resources.title }}</h4>
            <p>{{ ux_resources.content | strip_html | truncatewords: 800, '...' }}</p>
            <a href="{{ ux_resources.source }}" target="_blank">Source</a>
            {% endif %}
            {% endfor %}

            {% for ux_resources in site.ux_resources %}
            {% if ux_resources.category == 'user_research' %}
            <h4>{{ ux_resources.title }}</h4>
            <p>{{ ux_resources.content | strip_html | truncatewords: 800, '...' }}</p>
            <a href="{{ ux_resources.source }}" target="_blank">Source</a>
            {% endif %}
            {% endfor %}

            {% for ux_resources in site.ux_resources %}
            {% if ux_resources.category == 'ux_tools' %}
            <h4>{{ ux_resources.title }}</h4>
            <p>{{ ux_resources.content | strip_html | truncatewords: 800, '...' }}</p>
            <a href="{{ ux_resources.source }}" target="_blank">Source</a>
            {% endif %}
            {% endfor %}
          <div class="tab-pane" id="category">
              <p>Coming Soopn.</p>
          </div>
      </div>
  </div>
