<header class="page-header" role="banner">
  <h1 class="project-name">{{ page.title | default: site.title | default: site.github.repository_name }}</h1>
  <h2 class="project-tagline">{{ page.description | default: site.description | default: site.github.project_tagline }}</h2>
  <nav id="main-navigation">
    <a href="{{ "/" | relative_url }}" class="btn">Home</a>
    <a href="{{ "/about" | relative_url }}" class="btn">About Me</a>
    <a href="{{ "/exploreux" | relative_url }}" class="btn">Explore UX</a>
    <a href="{{ "/startuxjourney" | relative_url }}" class="btn">Start Your UX Journey</a>
  </nav>
</header>
