---
---
.page-header {
  background-color: transparent;
  background-image: url({{ '/assets/images/ux_ui.jpg' | relative_url }});
  background-size: cover;
  background-position: center center;
  height: auto;
  display: block;
}

nav {
 display: flex;
 justify-content: center;
 max-width: 880px;
 margin: 0 auto;
 .bin {
   background-color: rgba(#150ED8, .75);
   border-color: #ffffff;
   color: #ffffff;
   width: 25%;
   min-width: 200px;
   display: inline-block;
 }
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.content-left {
  @media all and (min-width: 960px) {
    width: 66%;
    float: left;
    padding-right: 20px;
  }
}

.img-right {
  @media all and (min-width: 960px) {
    width: 33%;
    float: right;
  }
}

img {
  max-width: 100%;
  height: auto;
}
